<ion-content [fullscreen]="true">
  <ion-card> 
    <ion-card-content>
      <ion-title>BIENVENIDO A VELOCITO🏁</ion-title>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input [(ngModel)]="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña:</ion-label>
        <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-row>
      <ion-col >
        <ion-button color="miscolores" (click)="login()" expand="full">Acceder</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="miscolores" (click)="registrar()" expand="full">Registrarse</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="miscolores" (click)="recuperar()" expand="full">Recuperar contraseña</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
 